window {
    margin: 0px;
    background-color: #282a36;
    border-radius: 30px;
    background: linear-gradient(#282a36, #282a36) padding-box,
              linear-gradient(135deg, #C678DD, #61AFEF) border-box;
    border: 2px solid transparent;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 30px;
}

#input:focus {
    border-radius: 30px;
    background: linear-gradient(#282a36, #282a36) padding-box,
              linear-gradient(-45deg, #C678DD, #61AFEF) border-box;
    border: 4px solid transparent;

}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #C678DD;
} 

#entry:selected {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}
